---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---
<Layout>
    <Header title="Projects"/>
    <NavBar/>
    <div id="main-container" class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>Projects: Under work</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quas fugiat repellendus ex adipisci! Consectetur dolorem facere perferendis placeat repellat aspernatur odio, explicabo, ab quaerat non saepe reprehenderit tempore,
              architecto neque eum quis culpa vel numquam voluptas dolores. Cumque similique vel culpa alias vero optio iusto, nisi deserunt officiis, perferendis, magni illum ad iure commodi magnam labore soluta atque. Exercitationem esse provident
              dolorum non vero incidunt nisi cum est dolorem quis accusamus, nemo autem vel labore adipisci voluptatum, repudiandae maxime at ratione ab dolore quam ducimus. Cupiditate.</p>
    
          </div>
    
        </div>
    
        <div class="row push-down-2" id="projects">
    
        <!-- If you don't want the cards to be links, simply remove the {data-url='some link'} attribute -->
    
    
            <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-1">
                      </div>
                      <div class="panel-body">
                  <h5>Project 1</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-2">
                      </div>
                      <div class="panel-body">
                  <h5>Project 2</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-3">
                      </div>
                      <div class="panel-body">
                  <h5>Project 3</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
            <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-4">
                      </div>
                      <div class="panel-body">
                  <h5>Project 4</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-5">
                      </div>
                      <div class="panel-body">
                  <h5>Project 5</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-6">
                      </div>
                      <div class="panel-body">
                  <h5>Project 6</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
            <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-7">
                      </div>
                      <div class="panel-body">
                  <h5>Project 7</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-8">
                      </div>
                      <div class="panel-body">
                  <h5>Project 8</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-9">
                      </div>
                      <div class="panel-body">
                  <h5>Project 9</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
            <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-10">
                      </div>
                      <div class="panel-body">
                  <h5>Project 10</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-11">
                      </div>
                      <div class="panel-body">
                  <h5>Project 11</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
              <div class="col-sm-6 col-md-4">
                  <div class="panel panel-default pointer" data-url="https://google.com">
                      <div class="panel-heading proj-12">
                      </div>
                      <div class="panel-body">
                  <h5>Project 12</h5>
                  <p>Description of project hereLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ex sed illo, fugit?</p></div>
                  </div>
              </div>
    
          </div>
          <!-- row -->
    
      </div>
    
      <!-- Back-to-top button -->
      <a role="button" id="topper" data-toggle="tooltip" data-placement="top" title="Top" class="btn scroll-link" href="#top"><i class="fa fa-fw fa-2x fa-caret-up" aria-hidden="true"></i></a>
      <Footer/>
</Layout>