---
import Layout from "../layouts/Layout.astro"
---

<Layout title="">


  <!-- navbar include -->
  <div id="navbar-include">
  </div>

  <div class="spacer-div-3 hidden-xs hidden-xs"></div>

  <!-- Main content    -->
  <div id="main-container" class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1>Research</h1>
        <p>I favor a DESCRIBE MAIN THEORETICAL/METHODOLOGICAL APPROACH IN 1 SENTENCE.</p>

        <p>My PHD work in the Department of Physics at Ibn-Tofail University was on Experimental Particle Physics where I conduct physics analysis and simulations of Hyper-Kamiokande detector response, to reconstruct the low energy og beta produced in neutron capture by water. I apply my learning to the classroom by integrating it into the SPECIFIC COURSE course, creating
          a more realistic and authentic experience.</p>

        <p>I focus specifically in these areas:</p>

        <!-- List of Research interests -->
        <ul class="push-down-1 list-unstyled">
          <li><strong>Experimental Nuclear Physics</strong>&mdash;Water cherenkov detector simulatons</li>
          <li><strong>Computing</strong>&mdash;Physics analysis of </li>
        </ul>

        <!-- Publication
        <h3 class="push-down-4"><span>Select Publications</span></h3>

        <h5>Published Papers</h5>

        <ul class="publications">
          <li>LastName, P., & Lastname, Q. (1999). <em>Book title goes here</em> (2nd ed.) City, CA: Publishing House.</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
        </ul>

        <h5>Submitted for Publication</h5>

        <ul class="publications">
          <li>LastName, P., & Lastname, Q. (1999). <em>Book title goes here</em> (2nd ed.) City, CA: Publishing House.</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
        </ul>

        <h5>Working Papers</h5>

        <ul class="publications">
          <li>LastName, P., & Lastname, Q. (1999). <em>Book title goes here</em> (2nd ed.) City, CA: Publishing House.</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
          <li>Lastname, X. (1999). Article title. <em>Journal Title, 33</em>(5), 100-110. doi:10.1099/1525.1999.12</li>
        </ul> -->

        <!-- Dissertation abstract
        <h3 class="push-down-3"><span>Dissertation</span></h3>
        <p>{BRIEF PARAGRAPH(S) ABSTRACT OF YOUR DISSERTATION}</p>

        <!-- Sample quote from the dissertation -->
        <blockquote>
            SAMPLE/QUOTE FROM YOUR DISSERTATION
          <footer>
            Smith, Jane. (2015). <em>Title of Dissertation.</em> (Doctoral dissertation). Retrieved from Some Online Repository. (http://online-repository.com)
          </footer>
        </blockquote>


        <!-- Read More Button -- link to the dissertation
        <p class="text-left">
          <a id="link-to-docs" role="button" class="btn btn-default" href="#" target="_blank">
            <i class="far fa-file-pdf fa-fw" aria-hidden="true"></i>&nbsp; Read More
          </a>
        </p>

      </div>
    </div>

  </div> -->

  <!-- Back-to-top button -->
  <a role="button" id="topper" data-toggle="tooltip" data-placement="top" title="Top" class="btn scroll-link" href="#top"><i class="fa fa-fw fa-2x fa-caret-up" aria-hidden="true"></i></a>

  <!-- footer include -->
  <div w3-include-html="footer.html"></div>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap JS Library -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <!-- html file include script | used for navbar and footer -->
  <script>
    import '../../lib/utils';
  </script>
  <script>
    import { w3IncludeHTML } from "../../lib/utils";
    w3IncludeHTML(() => {console.log("called")})
  </script>
  </div>
</div>
</div>
</Layout>

