---
import CardTest from '../components/CardTest.astro'
import '/css/styles.css?url'
---
<html lang="en">
    <head>
        <meat charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" intial-scale="1.0" />
        <title>Tailwind training</title>
    </head>
    <body class="text-gray-600">
        <div>
            <div>
                <nav>
                    <div>
                        <h1>
                            <a href="/">Abdo</a>
                        </h1>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">price</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <main>
            <div>
                <a href="#">Sign in</a>
                <a href="#">Sign up</a>
            </div>
            <header>
                <h2>Collection</h2>
                <h3>For absxyzk</h3>
            </header>

            <div>
                <h4>Latest</h4>
                <div>
                    <!-- place your card here -->
                    <CardTest src="/images/abdo.jpeg" alt="image 1" />
                </div>
            </div>
            <h4>Popular</h4>
            <div>
                <CardTest src="/images/pic01.jpg" alt="image 2" />
            </div>
            <div>
                <div>Load more...</div>
            </div>
        </main>
    </body>
</html>