---
const { twitter, bluesky, buymeacoffee, github, linkedin, researchgate} = Astro.props;
const contactInfo = [
  {
    name: "",
    url: "mailto:abderrezaq@outlook.com",
    icon: "icon-[mdi--email]",
  },
  {
    name: "",
    url: "https://github,com/Abdoelabassi",
    icon: "icon-[mdi--github]",
  },
  {
    name: "",
    url: "https://linkedin.com/in/el-abassi-abderrazaq",
    icon: "icon-[mdi--linkedin]",
  },
  {
    name: "",
    url: "https://twitter.com/aelabassi",
    icon: "icon-[logos--x]",
  },
  {
    name: "",
    url: "https://bsky.app/profile/aelabassidev.bsky.social",
    icon: "icon-[logos--bluesky]",
  },
  {
    name: "",
    url: "https://orcid.org/0009-0002-0516-9465",
    icon: "icon-[logos--orcid]",
  },
]
---
<footer class="footer">
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-sm-6 text-muted">
  
          <p>&copy; {new Date().getFullYear()} Abderrazaq El.</p>
  
        </div>
        <div class="col-sm-6">
  
          <!-- Social professional networking icons -->
          <ul class="social-icons pull-right">
            {contactInfo.map((item) => (
              <li>
                <a href={item.url} target="_blank" rel="noopener noreferrer">
                  <i class={item.icon}></i>
                </a>
              </li>
            ))}
          </ul>
  
        </div>
      </div>
    </div>
  </footer><!-- jQuery Javascript Library -->
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap JS Library -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <!-- html file include script | used for navbar and footer -->
  <script>
    import "../../lib/utils.ts";
  </script>
  <script>
    import {w3IncludeHTML} from "../../lib/utils";
    w3IncludeHTML(() => {console.log("called")})
  </script>
  