---
const {email, phnenumber} = Astro.props;
---
<div class="row mb-4 mt-10">
    <div class="col-sm-4">
      <img class="center-block img img-responsive" src="../images/abdo.jpeg" alt="Image of Jane Smith">

      <p id="title"><strong>EL Abassi Abderrazaq</strong><br>
        <span id="program">High Energy Physics (hep-exp)</span>
      </p>

      <table class="table" id="contact-table">
        <tbody>
          <tr>
            <td style="width:30px"><i class="fas fa-home"></i></td>
            <td>
              Ibn-Tofail University<br>
            </td>
          </tr>
          <tr>
            <td><i class="fas fa-phone"></i></td>
            <td><a href="https://wa.me/+212608733452">{phnenumber}</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-at"></i></td>
            <td><a href="mailto:abderrazaq.elabassi@uit.ac.ma">{email}</a></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-sm-8">

      <p>I am PhD student in Particle Physics at University of Ibn-Tofail </p>

      <p>I received my MSc. in Mathematical Physics from Mohammed V university, Rabat. I
        studied Dark Matter with  ATLAS detector data  under the direction of Pr. Mohamed Gouighri.</p>

      <p>My primay research is focused on the sensitivity analyis of proton decay in positron plus neutral pion final state.
       I am currently contributing on Far Detector low energy calibration and IWCD MC production in collaboration with  Hyper-Kamiokande experiment.</p>

      <!-- If you don't want a 'read more' section, simple delete this section between the lines of equal signs -->
      <!-- ============ READ MORE SECTION BELOW =====================  -->
      <div id="read-more">

        <p class="push-down-2"></p>

        <p>Nothing here.</p>

      </div>
      <!-- .read-more -->
      <span class="badge" id="badge-more">more</span>
      <!-- ========= READ MORE SECTION ABOVE =====================  -->


      <h3 class="push-down-3"><span>Education</span></h3>

      <ul id="education">
        <li>
          <strong>Ph.D. in Experimental Particle Physics (Fourth year)</strong><br>
          <span class="university"><em>University of Ibn-Tofail University, Kenitra</em></span>
        </li>
        <li>
          <strong>M.Sc. in Mathematical Physics, {2018-2020}</strong><br>
          <span class="university"><em>Mohammed V University, Rabat</em></span>
        </li>
        <li>
          <strong>B.Sc. in Matter Physics, {2015-2018}</strong><br>
          <span class="university"><em>Moulay Isamil University, Meknes</em></span>
        </li>

      </ul>

    </div>
  </div>

</div>
